In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd
import datetime

In [3]:
def getFile(exid):
    f = open('cs/'+exid+'.html')
    html = f.read()
    f.close()
    return html

In [6]:
html = getFile('0AaUjfun')

In [7]:
soup = BeautifulSoup(html, "html.parser")
table = soup.select_one('#odds-data-table')

In [12]:
rows = table.select('.table-container .table-header-light')

In [18]:
rows[0].select_one('strong').text, rows[0].select_one('.avg.nowrp').text

('1:0', '14.92')

In [21]:
def getAttr(b):
    score = b.select_one('strong').text
    odd = b.select_one('.avg.nowrp').text
    
    return score, odd

def getData(html):
    soup = BeautifulSoup(html, "html.parser")
    table = soup.select_one('#odds-data-table')
    rows = table.select('.table-container .table-header-light')
    return pd.DataFrame([getAttr(row) for row in rows if hasStyle(row)])

In [25]:
getData(html).tail(50)

       0       1
29   8:3
30   9:0
31   9:1
32   9:2
33  10:0
34  10:1
35  11:0
36   0:0    9.32
37   1:1    7.98
38   2:2   22.97
39   3:3  107.95
40   4:4  342.67
41   5:5  301.00
42   6:6
43   0:1    5.31
44   0:2    5.65
45   1:2    8.47
46   0:3    8.65
47   1:3   12.86
48   2:3   34.20
49   0:4   16.80
50   1:4   26.00
51   2:4   68.60
52   3:4  200.78
53   0:5   40.38
54   1:5   62.63
55   2:5  144.29
56   3:5  336.00
57   4:5  301.00
58   0:6   89.50
59   1:6  116.75
60   2:6  217.33
61   3:6
62   4:6
63   5:6
64   0:7  175.67
65   1:7  326.00
66   2:7
67   3:7
68   4:7
69   0:8  501.00
70   1:8
71   2:8
72   3:8
73   0:9
74   1:9
75   2:9
76  0:10
77  1:10
78  0:11

In [ ]:
data = pd.DataFrame()
for i in range(18):
    html = getFile(i+1)
    data = pd.concat([data, getData(html)])


data.columns = ['xeid', 'date', 'time', 'teams', 'score', 'win', 'tie', 'los', 'result']

data = data[data['result'] != None]
data = data[data['tie'] != '-']
data = data[data['win'] != '-']
data = data[data['los'] != '-']
data['team1'] = data['teams'].str.split(' - ').apply(lambda s: s[0])
data['team2'] = data['teams'].str.split(' - ').apply(lambda s: s[1])
data = data.drop('teams', axis=1)

data.to_csv('fifa2022.csv', index=False)